body {
    background: url(http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg) no-repeat center;
    background-attachment: fixed;
    margin: 0;
}
 
.container {
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    padding-top: 30px;
}

.row {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    width: 300px;
    display: inline-block;
    /*margin-right: 20px; */
    margin-bottom: 30px;
    transition: all 0.3s;
}

.col:nth-child(3n) {
    margin-right: 0px;
}

.col:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}

.preview img {
    width: 100%;
}

.intro {
    color : white;
}

.bottom {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
}

.channel_name {
    margin-bottom: 10px;
    white-space: nowrap; /* don't change line*/
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
}
